@font-face {
    font-family: '';
    src: url('Happiness-Sans-Title00.eot');
    src: url('Happiness-Sans-Title00.eot?#iefix') format('embedded-opentype'),
        url('Happiness-Sans-Title00.woff2') format('woff2'),
        url('Happiness-Sans-Title00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('Happiness-Sans-Bold00.eot');
    src: url('Happiness-Sans-Bold00.eot?#iefix') format('embedded-opentype'),
        url('Happiness-Sans-Bold00.woff2') format('woff2'),
        url('Happiness-Sans-Bold00.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

